body{
    background-color: beige;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #4b2e2e;
}
header{
    background-color: #6f4e37;
    padding: 20px;
    text-align: center;
    padding: 20px;
}
header p{
    color: #d4a574;
    margin-top: 18px;
}
.conteudo{
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}
img{
    width: 100%;
    border-radius: 12px;
}
section{
    background-color: #f4a261;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba #cccccc(0, 0, 0, 0.1);
}
h2{
    text-align: center;
    color: #6f4e37;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
}
footer{
    background-color: #6f4e37;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}